body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-li{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 25%;
  left: 25%;
}

.item-images{
  border: solid;
  height: 300px;
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
}


.crop img{
  border: solid;
  height: auto;
  width: 10%;
  float:left;
  margin-left: 20px;
  padding: 5px;
}
